// base variables
$grid-breakpoints: ("xs": 576px,
    "sm": 767px,
    "md": 991px,
    "lg": 1199px,
    "xl": 1376px);
$base: 16px;
$base-viewport-mobile: 576px;

:root {
    --primary: hsla(141, 100%, 37%, 1);
    --primary-hover: hsla(140, 59%, 54%, 1);
    --primary-focus: hsla(140, 81%, 30%, 1);
    --primary-foreground: hsla(0, 0%, 100%, 1);
    --background: hsla(248, 18%, 15%, 1);
    --foreground: hsla(0, 0%, 100%, 1);
    --card-background: hsla(248, 23%, 26%, 1);
    --card-foreground: hsla(0, 0%, 100%, 1);
    --transition-duration: 0.2s;
}